body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
#root{
    width: 85%;
    margin: 0 auto;
}
header{
    margin: 1rem 0;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: 2rem;
    height: 2.5rem;
}
nav>div{
    flex:0 0 20%;
    padding-left: 5px;
    padding-top: 5px;
    box-sizing: border-box;
    width: 140px;
    height: 100%;
}
nav>div:first-child{
    flex:0 0 40%;
    width: 40%;
    min-width: 200px;
}

button{
    height: 100%;
}
select{
    height: 100%;
}   
nav select{
    margin: 0 auto;
    display: block;
    width: 120px;
    
}
nav button{
    margin: 0 auto;
    display: block;
    width: 120px;
}
input{
    height: 100%;
    width: 100%;
}
.items{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: 2rem;

}
.item{
    flex:0 0 25%;
    min-width:250px;
    min-height: 200px;
    padding: 20px;
    background: #e2fde7;
    margin: 20px;
}
.done{
    background: #e2f5fd;
}

span.item-priority {
    display: block;
    float: right;
    font-size: 30px;
    position: relative;
    top: 0;
    right: 0;
}
.form{
    height: 300px;
    width:300px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -170px;
    margin-top: -170px;
    background: azure;
    padding: 20px;
}
.form-wrap {
    backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    z-index: 10;
    background: #00406d33;
}
.form input{
    width: 100%;
    max-width: 0 1rem;
    

}
.form button{
    min-width: 30px;
    max-width: 90px;
    width: 75px; 
}
.form-button-wrap{
    display: inline;
    margin: 0 1rem;
}
.form-buttons-wrap{
    margin-top: 2.2rem;
    width:100%;
    text-align:center;
}
